<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baronzhang.android.im">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.baronzhang.android.im.InstantMessagingMainActivity"
            android:label="@string/im_label_home_page">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="com.baronzhang.android.im"
                    android:scheme="router"
                    android:port="6666"
                    android:path="/im/home"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
